openapi: 3.1.0
info:
  title: ServiceTitan Accounting Adjustments Contacts API
  description: 'The Accounting API manages invoices, invoice items, AP credits, payments, payment terms,

    payment types, journal entries, journal entry details, tax zones, and GL accounts.

    Tenant-scoped; OAuth 2.0 + App Key. Integrates with QuickBooks, Sage Intacct, and Acumatica.

    '
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/accounting/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/accounting/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Contacts
  description: Customer contact methods (phone, email)
paths:
  /customers/{id}/contacts:
    get:
      summary: List Customer Contacts
      operationId: listCustomerContacts
      tags:
      - Contacts
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: List of customer contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactPagedResponse'
    post:
      summary: Create Customer Contact
      operationId: createCustomerContact
      tags:
      - Contacts
      parameters:
      - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateRequest'
      responses:
        '200':
          description: Created contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
components:
  schemas:
    Contact:
      type: object
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
          enum:
          - Phone
          - MobilePhone
          - Email
          - Fax
        value:
          type: string
        memo:
          type: string
          nullable: true
        modifiedOn:
          type: string
          format: date-time
    ContactCreateRequest:
      type: object
      required:
      - type
      - value
      properties:
        type:
          type: string
        value:
          type: string
        memo:
          type: string
    ContactPagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
