openapi: 3.2.0
info:
  title: ServiceTitan Inventory Vendors API
  description: 'The Inventory API manages purchase orders, types, transfers, returns, adjustments, receipts,

    warehouses, trucks, vendors, and inventory bills. Backed by the open-source

    request-middleware-templates Liquid framework for supply-chain partner integrations.

    Tenant-scoped; OAuth 2.0 + App Key.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/inventory/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/inventory/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Vendors
paths:
  /vendors:
    get:
      summary: List Vendors
      operationId: listVendors
      tags:
      - Vendors
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Vendors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorPagedResponse'
components:
  schemas:
    VendorPagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Vendor'
    Vendor:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        active:
          type: boolean
        memo:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        address:
          type: object
        modifiedOn:
          type: string
          format: date-time
  parameters:
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        default: 50
        maximum: 500
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
