openapi: 3.2.0
info:
  title: ServiceTitan CRM Tags API
  description: 'The CRM API provides access to ServiceTitan customer-of-record data — residential and

    commercial customers, locations, contacts, leads, bookings, tags, and booking provider

    sessions. All paths are tenant-scoped and require an OAuth 2.0 access token plus the

    ST-App-Key header.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/crm/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
      description: Tenant ID assigned by ServiceTitan
- url: https://api-integration.servicetitan.io/crm/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
      description: Tenant ID assigned by ServiceTitan
security:
- OAuth2: []
  AppKey: []
tags:
- name: Tags
  description: Tag types and customer tagging
paths:
  /tagtypes:
    get:
      summary: List Tag Types
      operationId: listTagTypes
      tags:
      - Tags
      responses:
        '200':
          description: Tag types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagTypePagedResponse'
components:
  schemas:
    TagType:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        color:
          type: string
        active:
          type: boolean
    TagTypePagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TagType'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
