openapi: 3.2.0
info:
  title: ServiceTitan Pricebook Equipment API
  description: 'The Pricebook API provides CRUD over the technician-facing flat-rate pricebook — categories,

    services, materials, equipment, discounts and fees, images, and bulk operations. Tenant-scoped;

    OAuth 2.0 + App Key.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/pricebook/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/pricebook/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Equipment
paths:
  /equipment:
    get:
      summary: List Equipment
      operationId: listEquipment
      tags:
      - Equipment
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/ModifiedOnOrAfter'
      responses:
        '200':
          description: Paginated equipment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentPagedResponse'
  /equipment/{id}:
    get:
      summary: Get Equipment
      operationId: getEquipment
      tags:
      - Equipment
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Equipment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
components:
  schemas:
    Equipment:
      type: object
      properties:
        id:
          type: integer
          format: int64
        code:
          type: string
        displayName:
          type: string
        description:
          type: string
        cost:
          type: number
        price:
          type: number
        memberPrice:
          type: number
          nullable: true
        active:
          type: boolean
        warranty:
          type: object
          properties:
            duration:
              type: integer
            description:
              type: string
        modifiedOn:
          type: string
          format: date-time
    EquipmentPagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Equipment'
  parameters:
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        default: 50
        maximum: 500
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ModifiedOnOrAfter:
      name: modifiedOnOrAfter
      in: query
      schema:
        type: string
        format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
