openapi: 3.2.0
info:
  title: ServiceTitan Job Planning & Management Job Types API
  description: 'The JPM API manages jobs, projects, appointments, job types, call reasons, job cancel

    reasons, and job history. It is the operational core of ServiceTitan — every work order

    and recurring service rolls through this surface. Tenant-scoped; OAuth 2.0 + App Key.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/jpm/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/jpm/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Job Types
  description: Job type definitions
paths:
  /job-types:
    get:
      summary: List Job Types
      operationId: listJobTypes
      tags:
      - Job Types
      responses:
        '200':
          description: Job types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTypePagedResponse'
components:
  schemas:
    JobTypePagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/JobType'
    JobType:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        businessUnitIds:
          type: array
          items:
            type: integer
        skills:
          type: array
          items:
            type: string
        tagTypeIds:
          type: array
          items:
            type: integer
        priority:
          type: string
        duration:
          type: integer
          description: Duration in minutes
        soldThreshold:
          type: number
          nullable: true
        class:
          type: string
        summary:
          type: string
        noCharge:
          type: boolean
        enforceRecurringServiceEventSelection:
          type: boolean
        invoiceSignaturesRequired:
          type: boolean
        modifiedOn:
          type: string
          format: date-time
        externalData:
          type: array
          items:
            type: object
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
