openapi: 3.2.0
info:
  title: ServiceTitan Pricebook Categories API
  description: 'The Pricebook API provides CRUD over the technician-facing flat-rate pricebook — categories,

    services, materials, equipment, discounts and fees, images, and bulk operations. Tenant-scoped;

    OAuth 2.0 + App Key.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/pricebook/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/pricebook/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Categories
paths:
  /categories:
    get:
      summary: List Pricebook Categories
      operationId: listCategories
      tags:
      - Categories
      responses:
        '200':
          description: Categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryPagedResponse'
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        active:
          type: boolean
        parentId:
          type: integer
          nullable: true
        description:
          type: string
        position:
          type: integer
        image:
          type: string
          nullable: true
        modifiedOn:
          type: string
          format: date-time
    CategoryPagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Category'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
