openapi: 3.2.0
info:
  title: ServiceTitan Inventory Warehouses API
  description: 'The Inventory API manages purchase orders, types, transfers, returns, adjustments, receipts,

    warehouses, trucks, vendors, and inventory bills. Backed by the open-source

    request-middleware-templates Liquid framework for supply-chain partner integrations.

    Tenant-scoped; OAuth 2.0 + App Key.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/inventory/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/inventory/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Warehouses
paths:
  /warehouses:
    get:
      summary: List Warehouses
      operationId: listWarehouses
      tags:
      - Warehouses
      responses:
        '200':
          description: Warehouses
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        active:
                          type: boolean
                        address:
                          type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
