openapi: 3.2.0
info:
  title: ServiceTitan Inventory Adjustments API
  description: 'The Inventory API manages purchase orders, types, transfers, returns, adjustments, receipts,

    warehouses, trucks, vendors, and inventory bills. Backed by the open-source

    request-middleware-templates Liquid framework for supply-chain partner integrations.

    Tenant-scoped; OAuth 2.0 + App Key.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/inventory/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/inventory/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Adjustments
paths:
  /adjustments:
    post:
      summary: Create Inventory Adjustment
      operationId: createAdjustment
      tags:
      - Adjustments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      skuId:
                        type: integer
                      quantity:
                        type: number
                      cost:
                        type: number
                fromWarehouseId:
                  type: integer
                date:
                  type: string
                  format: date-time
                memo:
                  type: string
      responses:
        '200':
          description: Adjustment created
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
