openapi: 3.1.0
info:
  title: ServiceTitan Accounting Adjustments GPS API
  description: 'The Accounting API manages invoices, invoice items, AP credits, payments, payment terms,

    payment types, journal entries, journal entry details, tax zones, and GL accounts.

    Tenant-scoped; OAuth 2.0 + App Key. Integrates with QuickBooks, Sage Intacct, and Acumatica.

    '
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/accounting/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/accounting/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: GPS
paths:
  /gps-pings:
    get:
      summary: List GPS Pings
      operationId: listGpsPings
      tags:
      - GPS
      parameters:
      - name: technicianId
        in: query
        required: true
        schema:
          type: integer
      - name: fromUtc
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: toUtc
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: GPS pings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        latitude:
                          type: number
                        longitude:
                          type: number
                        speed:
                          type: number
                        heading:
                          type: number
                        utcDateTime:
                          type: string
                          format: date-time
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
