openapi: 3.2.0
info:
  title: ServiceTitan Dispatch Zones API
  description: 'The Dispatch API manages technician shifts, appointment assignments, capacity windows,

    business hours, zones, arrival windows, and gps pings. Drives the dispatch board.

    Tenant-scoped; OAuth 2.0 + App Key.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/dispatch/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/dispatch/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Zones
paths:
  /zones:
    get:
      summary: List Zones
      operationId: listZones
      tags:
      - Zones
      responses:
        '200':
          description: Zones
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        zips:
                          type: array
                          items:
                            type: string
                        cities:
                          type: array
                          items:
                            type: string
                        active:
                          type: boolean
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
