openapi: 3.1.0
info:
  title: ServiceTitan Accounting Adjustments Tags API
  description: 'The Accounting API manages invoices, invoice items, AP credits, payments, payment terms,

    payment types, journal entries, journal entry details, tax zones, and GL accounts.

    Tenant-scoped; OAuth 2.0 + App Key. Integrates with QuickBooks, Sage Intacct, and Acumatica.

    '
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/accounting/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/accounting/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Tags
  description: Tag types and customer tagging
paths:
  /tagtypes:
    get:
      summary: List Tag Types
      operationId: listTagTypes
      tags:
      - Tags
      responses:
        '200':
          description: Tag types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagTypePagedResponse'
components:
  schemas:
    TagTypePagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TagType'
    TagType:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        color:
          type: string
        active:
          type: boolean
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
