openapi: 3.2.0
info:
  title: ServiceTitan Job Planning & Management Appointments API
  description: 'The JPM API manages jobs, projects, appointments, job types, call reasons, job cancel

    reasons, and job history. It is the operational core of ServiceTitan — every work order

    and recurring service rolls through this surface. Tenant-scoped; OAuth 2.0 + App Key.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/jpm/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/jpm/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Appointments
  description: Job appointments and visits
paths:
  /appointments:
    get:
      summary: List Appointments
      operationId: listAppointments
      tags:
      - Appointments
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/ModifiedOnOrAfter'
      - name: jobId
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Paginated list of appointments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentPagedResponse'
    post:
      summary: Create Appointment
      operationId: createAppointment
      tags:
      - Appointments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentCreateRequest'
      responses:
        '200':
          description: Created appointment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
  /appointments/{id}:
    get:
      summary: Get Appointment
      operationId: getAppointment
      tags:
      - Appointments
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Appointment record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
    patch:
      summary: Update Appointment
      operationId: updateAppointment
      tags:
      - Appointments
      parameters:
      - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentUpdateRequest'
      responses:
        '200':
          description: Updated appointment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
  /appointments/{id}/reschedule:
    patch:
      summary: Reschedule Appointment
      operationId: rescheduleAppointment
      tags:
      - Appointments
      parameters:
      - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - start
              - end
              properties:
                start:
                  type: string
                  format: date-time
                end:
                  type: string
                  format: date-time
                arrivalWindowStart:
                  type: string
                  format: date-time
                arrivalWindowEnd:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Appointment rescheduled
components:
  schemas:
    AppointmentCreateRequest:
      type: object
      required:
      - jobId
      - start
      - end
      properties:
        jobId:
          type: integer
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        arrivalWindowStart:
          type: string
          format: date-time
        arrivalWindowEnd:
          type: string
          format: date-time
        technicianIds:
          type: array
          items:
            type: integer
        specialInstructions:
          type: string
    Appointment:
      type: object
      properties:
        id:
          type: integer
          format: int64
        jobId:
          type: integer
          format: int64
        appointmentNumber:
          type: string
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        arrivalWindowStart:
          type: string
          format: date-time
        arrivalWindowEnd:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - Scheduled
          - Dispatched
          - InProgress
          - Hold
          - Done
          - Canceled
        specialInstructions:
          type: string
          nullable: true
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
        customerId:
          type: integer
        unused:
          type: boolean
    AppointmentPagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Appointment'
    AppointmentUpdateRequest:
      type: object
      properties:
        specialInstructions:
          type: string
  parameters:
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        default: 50
        maximum: 500
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ModifiedOnOrAfter:
      name: modifiedOnOrAfter
      in: query
      schema:
        type: string
        format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
