openapi: 3.2.0
info:
  title: ServiceTitan Pricebook Discounts And Fees API
  description: 'The Pricebook API provides CRUD over the technician-facing flat-rate pricebook — categories,

    services, materials, equipment, discounts and fees, images, and bulk operations. Tenant-scoped;

    OAuth 2.0 + App Key.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/pricebook/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/pricebook/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Discounts And Fees
paths:
  /discounts-and-fees:
    get:
      summary: List Discounts And Fees
      operationId: listDiscountsAndFees
      tags:
      - Discounts And Fees
      responses:
        '200':
          description: Discounts and fees
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                          enum:
                          - Discount
                          - Fee
                        code:
                          type: string
                        displayName:
                          type: string
                        amountType:
                          type: string
                          enum:
                          - Percentage
                          - Fixed
                        amount:
                          type: number
                        active:
                          type: boolean
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
