openapi: 3.1.0
info:
  title: ServiceTitan Accounting Adjustments Materials API
  description: 'The Accounting API manages invoices, invoice items, AP credits, payments, payment terms,

    payment types, journal entries, journal entry details, tax zones, and GL accounts.

    Tenant-scoped; OAuth 2.0 + App Key. Integrates with QuickBooks, Sage Intacct, and Acumatica.

    '
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/accounting/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/accounting/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Materials
paths:
  /materials:
    get:
      summary: List Materials
      operationId: listMaterials
      tags:
      - Materials
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/ModifiedOnOrAfter'
      responses:
        '200':
          description: Paginated materials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterialPagedResponse'
    post:
      summary: Create Material
      operationId: createMaterial
      tags:
      - Materials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaterialCreateRequest'
      responses:
        '200':
          description: Created material
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Material'
  /materials/{id}:
    get:
      summary: Get Material
      operationId: getMaterial
      tags:
      - Materials
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Material
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Material'
    patch:
      summary: Update Material
      operationId: updateMaterial
      tags:
      - Materials
      parameters:
      - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Material'
      responses:
        '200':
          description: Updated material
components:
  schemas:
    MaterialCreateRequest:
      type: object
      required:
      - code
      - displayName
      - cost
      - price
      properties:
        code:
          type: string
        displayName:
          type: string
        description:
          type: string
        cost:
          type: number
        price:
          type: number
        active:
          type: boolean
        taxable:
          type: boolean
    Material:
      type: object
      properties:
        id:
          type: integer
          format: int64
        code:
          type: string
        displayName:
          type: string
        description:
          type: string
        cost:
          type: number
        price:
          type: number
        memberPrice:
          type: number
          nullable: true
        addOnPrice:
          type: number
          nullable: true
        addOnMemberPrice:
          type: number
          nullable: true
        active:
          type: boolean
        taxable:
          type: boolean
        account:
          type: string
          nullable: true
        categories:
          type: array
          items:
            type: integer
        vendorParts:
          type: array
          items:
            type: object
            properties:
              vendorId:
                type: integer
              vendorPartNumber:
                type: string
              cost:
                type: number
        primaryVendor:
          type: object
          properties:
            vendorId:
              type: integer
            vendorPartNumber:
              type: string
        modifiedOn:
          type: string
          format: date-time
    MaterialPagedResponse:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        hasMore:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Material'
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        default: 50
        maximum: 500
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    ModifiedOnOrAfter:
      name: modifiedOnOrAfter
      in: query
      schema:
        type: string
        format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
