openapi: 3.2.0
info:
  title: ServiceTitan Settings Technicians API
  description: 'The Settings API manages business units, employees, technicians, user roles, employee

    permissions, tag types, and tenant-wide settings. The tenant configuration surface for

    every other API in the platform. Tenant-scoped; OAuth 2.0 + App Key.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/settings/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/settings/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Technicians
paths:
  /technicians:
    get:
      summary: List Technicians
      operationId: listTechnicians
      tags:
      - Technicians
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/ModifiedOnOrAfter'
      - name: active
        in: query
        schema:
          type: string
          enum:
          - true
          - Any
          - false
      responses:
        '200':
          description: Technicians
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechnicianPagedResponse'
    post:
      summary: Create Technician
      operationId: createTechnician
      tags:
      - Technicians
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TechnicianCreateRequest'
      responses:
        '200':
          description: Created technician
  /technicians/{id}:
    get:
      summary: Get Technician
      operationId: getTechnician
      tags:
      - Technicians
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Technician
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Technician'
    patch:
      summary: Update Technician
      operationId: updateTechnician
      tags:
      - Technicians
      parameters:
      - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TechnicianCreateRequest'
      responses:
        '200':
          description: Updated
components:
  schemas:
    TechnicianPagedResponse:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        hasMore:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Technician'
    TechnicianCreateRequest:
      type: object
      required:
      - name
      - businessUnitId
      - loginName
      properties:
        name:
          type: string
        businessUnitId:
          type: integer
        loginName:
          type: string
        phoneNumber:
          type: string
        email:
          type: string
        active:
          type: boolean
        roleIds:
          type: array
          items:
            type: integer
    Technician:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
        name:
          type: string
        roleIds:
          type: array
          items:
            type: integer
        businessUnitId:
          type: integer
        loginName:
          type: string
        phoneNumber:
          type: string
        email:
          type: string
        active:
          type: boolean
        memo:
          type: string
          nullable: true
        dailyGoal:
          type: number
        hourlyGoal:
          type: number
        modifiedOn:
          type: string
          format: date-time
  parameters:
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        default: 50
        maximum: 500
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ModifiedOnOrAfter:
      name: modifiedOnOrAfter
      in: query
      schema:
        type: string
        format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
