openapi: 3.1.0
info:
  title: ServiceTitan Accounting Adjustments Leads API
  description: 'The Accounting API manages invoices, invoice items, AP credits, payments, payment terms,

    payment types, journal entries, journal entry details, tax zones, and GL accounts.

    Tenant-scoped; OAuth 2.0 + App Key. Integrates with QuickBooks, Sage Intacct, and Acumatica.

    '
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/accounting/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/accounting/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Leads
  description: Pre-customer lead records
paths:
  /leads:
    get:
      summary: List Leads
      operationId: listLeads
      tags:
      - Leads
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Status'
      - $ref: '#/components/parameters/ModifiedOnOrAfter'
      responses:
        '200':
          description: Paginated list of leads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadPagedResponse'
    post:
      summary: Create Lead
      operationId: createLead
      tags:
      - Leads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadCreateRequest'
      responses:
        '200':
          description: Created lead
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
  /leads/{id}/dismiss:
    put:
      summary: Dismiss Lead
      operationId: dismissLead
      tags:
      - Leads
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Lead dismissed
components:
  schemas:
    LeadCreateRequest:
      type: object
      required:
      - summary
      properties:
        customerId:
          type: integer
          nullable: true
        locationId:
          type: integer
          nullable: true
        businessUnitId:
          type: integer
        jobTypeId:
          type: integer
        summary:
          type: string
        priority:
          type: string
        campaignId:
          type: integer
    LeadPagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Lead'
    Lead:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum:
          - Open
          - Converted
          - Dismissed
        customerId:
          type: integer
          format: int64
          nullable: true
        locationId:
          type: integer
          format: int64
          nullable: true
        businessUnitId:
          type: integer
          format: int64
          nullable: true
        jobTypeId:
          type: integer
          format: int64
          nullable: true
        priority:
          type: string
        summary:
          type: string
        callReasonId:
          type: integer
          nullable: true
        campaignId:
          type: integer
          nullable: true
        followUpDate:
          type: string
          format: date-time
          nullable: true
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
  parameters:
    Status:
      name: status
      in: query
      schema:
        type: string
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        default: 50
        maximum: 500
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1
    ModifiedOnOrAfter:
      name: modifiedOnOrAfter
      in: query
      schema:
        type: string
        format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
