openapi: 3.1.0
info:
  title: ServiceTitan Accounting Adjustments Payments API
  description: 'The Accounting API manages invoices, invoice items, AP credits, payments, payment terms,

    payment types, journal entries, journal entry details, tax zones, and GL accounts.

    Tenant-scoped; OAuth 2.0 + App Key. Integrates with QuickBooks, Sage Intacct, and Acumatica.

    '
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/accounting/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/accounting/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Payments
paths:
  /payments:
    get:
      summary: List Payments
      operationId: listPayments
      tags:
      - Payments
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/ModifiedOnOrAfter'
      responses:
        '200':
          description: Paginated list of payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentPagedResponse'
    post:
      summary: Create Payment
      operationId: createPayment
      tags:
      - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreateRequest'
      responses:
        '200':
          description: Created payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
  /payments/{id}:
    get:
      summary: Get Payment
      operationId: getPayment
      tags:
      - Payments
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
    patch:
      summary: Update Payment
      operationId: updatePayment
      tags:
      - Payments
      parameters:
      - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated payment
  /payment-types:
    get:
      summary: List Payment Types
      operationId: listPaymentTypes
      tags:
      - Payments
      responses:
        '200':
          description: Payment types
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        active:
                          type: boolean
                        modifiedOn:
                          type: string
                          format: date-time
components:
  schemas:
    PaymentCreateRequest:
      type: object
      required:
      - date
      - typeId
      - total
      - splits
      properties:
        date:
          type: string
          format: date-time
        typeId:
          type: integer
        total:
          type: number
        referenceNumber:
          type: string
        memo:
          type: string
        splits:
          type: array
          items:
            type: object
            required:
            - invoiceId
            - amount
            properties:
              invoiceId:
                type: integer
              amount:
                type: number
    PaymentPagedResponse:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        hasMore:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
    Payment:
      type: object
      properties:
        id:
          type: integer
          format: int64
        active:
          type: boolean
        referenceNumber:
          type: string
          nullable: true
        date:
          type: string
          format: date-time
        type:
          type: string
        typeId:
          type: integer
          nullable: true
        total:
          type: number
        unappliedAmount:
          type: number
        memo:
          type: string
          nullable: true
        customer:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
        batch:
          type: object
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
            number:
              type: string
              nullable: true
        status:
          type: string
        splits:
          type: array
          items:
            type: object
            properties:
              invoiceId:
                type: integer
              amount:
                type: number
        modifiedOn:
          type: string
          format: date-time
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        default: 50
        maximum: 500
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    ModifiedOnOrAfter:
      name: modifiedOnOrAfter
      in: query
      schema:
        type: string
        format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
