openapi: 3.2.0
info:
  title: ServiceTitan Settings Business Units API
  description: 'The Settings API manages business units, employees, technicians, user roles, employee

    permissions, tag types, and tenant-wide settings. The tenant configuration surface for

    every other API in the platform. Tenant-scoped; OAuth 2.0 + App Key.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/settings/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/settings/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Business Units
paths:
  /business-units:
    get:
      summary: List Business Units
      operationId: listBusinessUnits
      tags:
      - Business Units
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/ModifiedOnOrAfter'
      responses:
        '200':
          description: Business units
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUnitPagedResponse'
  /business-units/{id}:
    get:
      summary: Get Business Unit
      operationId: getBusinessUnit
      tags:
      - Business Units
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Business unit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUnit'
components:
  parameters:
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        default: 50
        maximum: 500
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ModifiedOnOrAfter:
      name: modifiedOnOrAfter
      in: query
      schema:
        type: string
        format: date-time
  schemas:
    BusinessUnit:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        official:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        currency:
          type: string
        active:
          type: boolean
        invoiceHeader:
          type: string
          nullable: true
        invoiceMessage:
          type: string
          nullable: true
        defaultTaxRate:
          type: number
        phoneNumber:
          type: string
          nullable: true
        address:
          type: object
        modifiedOn:
          type: string
          format: date-time
    BusinessUnitPagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BusinessUnit'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
