openapi: 3.2.0
info:
  title: ServiceTitan Job Planning & Management Projects API
  description: 'The JPM API manages jobs, projects, appointments, job types, call reasons, job cancel

    reasons, and job history. It is the operational core of ServiceTitan — every work order

    and recurring service rolls through this surface. Tenant-scoped; OAuth 2.0 + App Key.'
  version: 2.0.0
  contact:
    name: ServiceTitan Developer Support
    url: https://developer.servicetitan.io/
    email: integrations@servicetitan.com
  license:
    name: ServiceTitan Terms of Service
    url: https://www.servicetitan.com/legal/terms-of-service
servers:
- url: https://api.servicetitan.io/jpm/v2/{tenant}
  description: Production
  variables:
    tenant:
      default: '0000000'
- url: https://api-integration.servicetitan.io/jpm/v2/{tenant}
  description: Integration (Sandbox)
  variables:
    tenant:
      default: '0000000'
security:
- OAuth2: []
  AppKey: []
tags:
- name: Projects
  description: Multi-job projects
paths:
  /projects:
    get:
      summary: List Projects
      operationId: listProjects
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/ModifiedOnOrAfter'
      responses:
        '200':
          description: Paginated list of projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPagedResponse'
    post:
      summary: Create Project
      operationId: createProject
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreateRequest'
      responses:
        '200':
          description: Created project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
  /projects/{id}:
    get:
      summary: Get Project
      operationId: getProject
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Project record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
components:
  schemas:
    Project:
      type: object
      properties:
        id:
          type: integer
          format: int64
        number:
          type: string
        name:
          type: string
        summary:
          type: string
        status:
          type: string
        statusId:
          type: integer
          nullable: true
        substatusId:
          type: integer
          nullable: true
        customerId:
          type: integer
        locationId:
          type: integer
        projectManagerIds:
          type: array
          items:
            type: integer
        businessUnitIds:
          type: array
          items:
            type: integer
        startDate:
          type: string
          format: date
          nullable: true
        targetCompletionDate:
          type: string
          format: date
          nullable: true
        actualCompletionDate:
          type: string
          format: date
          nullable: true
        modifiedOn:
          type: string
          format: date-time
    ProjectCreateRequest:
      type: object
      required:
      - customerId
      - locationId
      properties:
        name:
          type: string
        summary:
          type: string
        customerId:
          type: integer
        locationId:
          type: integer
        projectManagerIds:
          type: array
          items:
            type: integer
        startDate:
          type: string
          format: date
        targetCompletionDate:
          type: string
          format: date
    ProjectPagedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Project'
  parameters:
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        default: 50
        maximum: 500
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ModifiedOnOrAfter:
      name: modifiedOnOrAfter
      in: query
      schema:
        type: string
        format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.servicetitan.io/connect/token
          scopes: {}
    AppKey:
      type: apiKey
      in: header
      name: ST-App-Key
